<div class="row">
	<div class="col-md-12">
		<h1>Control Panel <span class="pull-right"><a href="/logout" class="btn btn-info">Logout</a></span></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default control-panel">
			<div class="panel-heading">
				Minecraft Server:
				<div class="pull-right">
					<span class="label label-warning" id="status-minecraftserver-unknown">Unkown</span>
					<span class="label label-success" id="status-minecraftserver-active" style="display: none;">Active</span>
					<span class="label label-danger" id="status-minecraftserver-offline" style="display: none;">Offline</span>
				</div>
			</div>
			<div class="panel-body ">
				<div class="output">

				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary btn-xs" id="restart-minecraftserver-button">Restart</button>
				<button type="button" class="btn btn-primary btn-xs pull-right" id="clear-output-button pull-right">Clear</button>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default control-panel">
			<div class="panel-heading">
				List Directory:
				<div class="pull-right">

				</div>
			</div>
			<div class="panel-body ">
				<div class="output">

				</div>

			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary btn-xs" id="list-directory-button">Do Thing</button>
				<button type="button" class="btn btn-primary btn-xs pull-right" id="clear-output-button">Clear</button>&nbsp;
			</div>
		</div>
	</div>
	<div class="col-md-4">&nbsp;</div>
</div>

<script src="/js/control-panel/control-panel.js"></script>
<script>
	var PAGE = PAGE || {
				statusMinecraftServerUnknown : $("#status-minecraftserver-unknown")
				,statusMinecraftServerActive : $("#status-minecraftserver-active")
				,statusMinecraftServerOffline : $("#status-minecraftserver-offline")
			};

	$('body').on("click","#clear-output-button",clearOutput);
	$("#list-directory-button").on("click",listDirectory);
	$("#restart-minecraftserver-button").on("click",restartMinecraftServer);

	$(document).ready(function(e){
		getStatusMinecraftServer();
		setInterval(getStatusMinecraftServer,2000);
	});
</script>

