<div class="row">
	<div class="col-md-12">
		<h1>Control Panel <span class="pull-right"><a href="/logout" class="btn btn-info">Logout</a></span></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default control-panel">
			<div class="panel-heading">
				Minecraft Server:
				<div class="pull-right">
					<span class="label label-warning" id="status-minecraftserver-unknown">Status: Unknown</span>
					<span class="label label-success" id="status-minecraftserver-active" style="display: none;">Status: Active</span>
					<span class="label label-danger" id="status-minecraftserver-offline" style="display: none;">Status: Offline</span>
					&nbsp;
					<span class="label label-warning" id="enabled-minecraftserver-unknown">Enabled: Unknown</span>
					<span class="label label-success" id="enabled-minecraftserver-enabled" style="display: none;">Enabled: Enabled</span>
					<span class="label label-danger" id="enabled-minecraftserver-disabled" style="display: none;">Enabled: Disabled</span>
				</div>
			</div>
			<div class="panel-body ">
				<div class="output">

				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-success btn-xs" id="start-minecraftserver-button">Start</button>
				<button type="button" class="btn btn-danger btn-xs" id="stop-minecraftserver-button">Stop</button>
				<button type="button" class="btn btn-info btn-xs pull-right" id="restart-minecraftserver-button">Restart</button>
				<br />
				<br />
				<button type="button" class="btn btn-success btn-xs" id="enable-minecraftserver-button">Enable</button>
				<button type="button" class="btn btn-danger btn-xs" id="disable-minecraftserver-button">Disable</button>
				<button type="button" class="btn btn-primary btn-xs pull-right" id="clear-output-button pull-right">Clear</button>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<!--<div class="panel panel-default control-panel">
			<div class="panel-heading">
				List Directory:
				<div class="pull-right">

				</div>
			</div>
			<div class="panel-body ">
				<div class="output">

				</div>

			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary btn-xs" id="list-directory-button">Do Thing</button>
				<button type="button" class="btn btn-primary btn-xs pull-right" id="clear-output-button">Clear</button>&nbsp;
			</div>
		</div>-->
	</div>
	<div class="col-md-4">&nbsp;</div>
</div>

<script src="/js/control-panel/control-panel.js"></script>
<script>
	var PAGE = PAGE || {
				statusMinecraftServerUnknown : $("#status-minecraftserver-unknown")
				,statusMinecraftServerActive : $("#status-minecraftserver-active")
				,statusMinecraftServerOffline : $("#status-minecraftserver-offline")
				,enabledMinecraftServerUnknown : $("#enabled-minecraftserver-unknown")
				,enabledMinecraftServerEnable : $("#enabled-minecraftserver-enabled")
				,enabledMinecraftServerDisabled : $("#enabled-minecraftserver-disabled")
			};

	$('body').on("click","#clear-output-button",clearOutput);
	/*$("#list-directory-button").on("click",listDirectory);*/
	$("#restart-minecraftserver-button").on("click",restartMinecraftServer);
	$("#stop-minecraftserver-button").on("click",stopMinecraftServer);
	$("#start-minecraftserver-button").on("click",startMinecraftServer);
	$("#enable-minecraftserver-button").on("click",enableMinecraftServer);
	$("#disable-minecraftserver-button").on("click",disableMinecraftServer);

	$(document).ready(function(e){
		getStatusMinecraftServer();
		setInterval(getStatusMinecraftServer,2000);
	});
</script>

