<div class="row">
	<div class="col-md-12">
		<h1>Control Panel</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default control-panel">
			<div class="panel-heading">
				Minecraft Server:
				<div class="pull-right">
					<span class="label label-warning" id="status-minecraftserver-unknown">Unkown</span>
					<span class="label label-success" id="status-minecraftserver-active" style="display: none;">Active</span>
					<span class="label label-danger" id="status-minecraftserver-offline" style="display: none;">Offline</span>
				</div>
			</div>
			<div class="panel-body ">
				<div class="output">

				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary btn-xs" id="restart-minecraftserver-button">Restart</button>
				<button type="button" class="btn btn-primary btn-xs" id="clear-output-button pull-right">Clear</button>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default control-panel">
			<div class="panel-heading">
				List Directory:
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-xs" id="clear-output-button">Clear</button>&nbsp;
					<button type="button" class="btn btn-primary btn-xs" id="list-directory-button">Do Thing</button>
				</div>
			</div>
			<div class="panel-body ">
				<div class="output">

				</div>

			</div>
		</div>
	</div>
	<div class="col-md-4">&nbsp;</div>
</div>


<script>
	$('body').on("click","#clear-output-button",clearOutput);
	$("#list-directory-button").on("click",listDirectory);
	$("#restart-minecraftserver-button").on("click",restartMinecraftServer);

	$(document).ready(function(e){
		getStatusMinecraftServer();
		setInterval(getStatusMinecraftServer,5000);
	});

	function clearOutput(e) {
		var outputDiv = $(this).parents(".panel-heading").siblings(".panel-body").children(".output");
		outputDiv.empty();
	}

	function listDirectory(e){
		var buttonClicked = $(this);
		$.get( '/listDir',{}, function(data) {
			var outputDiv = buttonClicked.parents(".panel-heading").siblings(".panel-body").children(".output");
			data = data.replace(/\n/g, "<br/>");
			outputDiv.append(data+'<br />');
			outputDiv.scrollTop(outputDiv[0].scrollHeight);
		});
	}


	function restartMinecraftServer(e){
		var buttonClicked = $(this);
		$.get( '/restartMinecraftServer',{}, function(data) {
			var outputDiv = buttonClicked.parents(".panel-footer").siblings(".panel-body").children(".output");
			data = data.replace(/\n/g, "<br/>");
			outputDiv.append(data+'<br />');
			outputDiv.scrollTop(outputDiv[0].scrollHeight);
		});
	}

	function getStatusMinecraftServer(e){
		$.get( '/getStatusMinecraftServer',{}, function(data) {
			var searchString = "Active: ";
			var startIndex = data.indexOf(searchString);
			var activeFlag = data.charAt(startIndex+searchString.length); //should be a for active or f for failed

			if (activeFlag == 'a'){ //service active
				console.log('active');
				$("#status-minecraftserver-unknown").hide();
				$("#status-minecraftserver-active").show();
				$("#status-minecraftserver-offline").hide();
			} else if (activeFlag == 'f') { //service stopped
				console.log('failed');
				$("#status-minecraftserver-unknown").hide();
				$("#status-minecraftserver-active").hide();
				$("#status-minecraftserver-offline").show();
			} else {//total error
				console.log('unkown');
				$("#status-minecraftserver-unknown").show();
				$("#status-minecraftserver-active").hide();
				$("#status-minecraftserver-offline").hide();
			}
		});

	}

</script>
