<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= header %>
	</head>
	<body>
		<div class="container-fluid">
			<h1><%= title %></h1>
			<p>Welcome to <%= title %></p>
		</div>

	<script src="/js/jquery.min.js" ></script>
	<script src="/js/bootstrap.min.js" ></script>
	</body>
</html>
