<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/bootstrap.min.css' />
	</head>
	<body>
		<div class="container">
			<div class="row-fluid">
				<div class="col-md-12">
					<h1><%= title %></h1>
					<p>Welcome to <%= title %></p>
				</div>
			</div>
		</div>

	<script src="/js/jquery.min.js" ></script>
	<script src="/js/bootstrap.min.js" ></script>
	</body>
</html>
